header{
    background-color: grey;
}
.header-image{
    width:70%;
    height: 300px;
    margin-left:200px;
    border-radius:12px;
}
.title{
    color:white;
    position:absolute;
    margin-top:-250px;
    margin-left:280px;
}
.slogan{
    font-family: Courier;
    color:white;
    position:absolute;
    margin-top:-200px;
    margin-left:280px; 
}
body{
    background-color: grey;
}
.nav-menu{
    
    display:block;
    background-color:black;
    margin-left:200px;
    margin-right:200px;
    text-align: center;
    height:50px;
    border-radius:12px;
}
.li-1{
    text-align: center;;
    color:white;
    display: inline-block;
    padding-right:30px;
    margin-top:15px;
    padding-left:30px;
    border-style: groove;
    border-left-color: white;
    border-top:hidden;
    border-right:hidden;
    border-bottom:hidden;
    border-width: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.li-1-home{
    text-align: center;;
    color:white;
    display: inline-block;
    padding-right:30px;
    margin-top:15px;
    padding-left:20px;
    border-width: 2px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h33{
    margin-left:200px;
}
.h34{
    margin-top:-45px;
    margin-left:450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    position:relative;
    margin-left:200px;
    border-style:solid;
    margin-right:950px;
    border-left:hidden;
    border-right:hidden;
    border-bottom:hidden;
    border-width: 1px;
    border-top-color: rgb(129, 122, 122);
    
}
.main-menu{
    text-decoration: underline;
}
.gallery{
    position:absolute;
    margin-left:450px;
    margin-top:-250px;
}
.paragraph{
    width:700px;

}
.Block{
    margin-top:50px;
    margin-left:200px;
}
.para-block0,.para-block{
    width:200px;
}
.para-sub{
    width:300px;
    border-right-style:solid;
    border-width: 1px;;
    padding-right:10px;
}
.Subscription{
    margin-left:450px;
    margin-top:-250px;
    
}
.Other{
    margin-left:770px;
    margin-top:-250px;
}
.para-other{
    padding-left:25px;
    width:350px;
}
.button{
    margin-top:9px;
    margin-left:25px;
}
.footerline{
    margin-left: 200px;
    margin-right: 200px;
}
.email{
    margin-left:50px;
    margin-right:50px;
}
.sub{
    margin-left:600px;
}
footer{
    height:250px;
    background-color: rgb(87, 84, 84);
    margin-left:200px;
    margin-top:-20px;
    margin-right:200px;
}